.chartContainer,
.tableContainer {
  margin-top: 20px;
}
.tableContainer {
  margin-bottom: 20px;
}
.buttonGroupContainer {
  display: flex;
  justify-content: left;
}
.buttonGroup {
  margin-top: 20px;
  text-align: left;
  display: inline-flex;
}
