.keycodeInfoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.keycodeInfoPlaceholder {
  padding: 20px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 30px;
  font-weight: 600;
  background-color: #b2dbbf;
  box-shadow: 0px 1px 6px 2px #cccccc;
}
.keycodeInfoKeycode {
  font-size: 120px;
  font-weight: 800px;
  font-family: monospace;
}
.keycodeInfoDetail {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #b2dbbf;
}
